{
 :paths []

 :deps {
   org.clojure/clojure {:mvn/version "1.12.0-alpha2"}
   autodoc/autodoc-collect {:git/url "https://github.com/cognitect-labs/autodoc-collect.git"
                            :git/sha "45acdfce64019ebcb86af981f375929174829bea"}
   autodoc/autodoc {:mvn/version "1.1.2"}
 }

 :aliases {
   :collect {:extra-paths ["../../repo/src/clj"]}
   :build {:override-deps {org.clojure/clojure {:mvn/version "1.11.0"}}}
 }

 :mvn/repos {
   "central" {:url "https://repo1.maven.org/maven2/"}
   "clojars" {:url "https://clojars.org/repo/"}
   "sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}
 }
}
